.button {
	margin: auto;
	margin-top: 2rem;
	background: blue;
	padding: 2rem;
	width: 25rem;
	color: white;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 3rem;
	text-align: center;
	border: 1px solid #383838;
}

.button:hover {
	background: white;
	color: black;
}

.button__green {
	background-color: green;
}

.button__red {
	background-color: #990000;
}

.button__yellow {
	background-color: #9ebb1f;
}
